.header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2px;
  border-bottom: 0.05px solid gray;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}

.header_left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_search {
  display: flex;
  align-items: center;
  background-color: #eef3f8;
  height: 40px;
}

.header_search > input {
  background: none;
  border: none;
  /* Important */
  outline: none;
  color: grey;
}

/* Right */
.header_right {
  display: flex;
  align-items: center;
}
